In [2]:
#string Indexing (Forward & Backward)
str1="Hello Python"
str1

'Hello Python'

In [3]:
str1[0] # First character in string "str1"

'H'

In [5]:
str1[len(str1)-1] # last character in string str1

'n'

In [7]:
str1[-1] # last character in string str1

'n'

In [8]:
str1[6] #fetch seventh element of string str1

'P'

In [12]:
#String slicing
str1[0:5] # fetch elements from 0 to 5 index

'Hello'

In [13]:
str1[6:12] # fetch elements from 6 to 12 index

'Python'

In [15]:
str1[-4:] # retrieve last four elements of the string

'thon'

In [16]:
str1[-6:] # retrieve last six elements of the string

'Python'

In [17]:
str1[0:4] # retrieve first four elements of the string

'Hell'

In [19]:
str1[0:6] # retrieve first six elements of the string

'Hello '

In [21]:
#Update and Delete string
str1[0:5]='Holaa' #since strings are immutable

TypeError: 'str' object does not support item assignment

In [25]:
del str1 # delete a string
print(str1)

NameError: name 'str1' is not defined

In [26]:
#string concatenation
s1 = "Hello"
s2 = "Santosh"
s3 = s1 + s2
print(s3)

HelloSantosh

In [27]:
s1 = "Hello"
s2 = "Santosh"
s3 = s1 + " " + s2
print(s3)

Hello Santosh

In [28]:
#Iterating through a string
mystr1 = "Hello Everyone"
for i in mystr1:
    print(i)

H
e
l
l
o

E
v
e
r
y
o
n
e

In [29]:
for i in enumerate(mystr1):
    print(i)

(0, 'H')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, ' ')
(6, 'E')
(7, 'v')
(8, 'e')
(9, 'r')
(10, 'y')
(11, 'o')
(12, 'n')
(13, 'e')

In [31]:
list(enumerate(mystr1)) # Enumeerate method adds a counter to an iteratable and returns a lisst

[(0, 'H'),
 (1, 'e'),
 (2, 'l'),
 (3, 'l'),
 (4, 'o'),
 (5, ' '),
 (6, 'E'),
 (7, 'v'),
 (8, 'e'),
 (9, 'r'),
 (10, 'y'),
 (11, 'o'),
 (12, 'n'),
 (13, 'e')]

In [32]:
#string membership
mystr1 = "Hello Everyone"
print('Hello' in mystr1) #check whether substring 'Hello' is available in mystr1
print('Everyone' in mystr1) #check whether substring 'Everyone' is available in mystr1
print('Hi' in mystr1) #check whether substring 'Hi' is available in mystr1

True
True
False

In [33]:
#String functions
mystr2 = "     Hello Everyone    "
mystr2

'     Hello Everyone    '

In [35]:
mystr2.strip() # removes the white spaces in beginning & end

'Hello Everyone'

In [36]:
mystr2.lstrip() # removes the white spaces in beginning

'Hello Everyone    '

In [38]:
mystr2.rstrip() # removes the white spaces in end

'     Hello Everyone'

In [39]:
mystr2="*******Hello Everyone*********All the Best*******"
mystr2

'*******Hello Everyone*********All the Best*******'

In [43]:
mystr2.strip('*') # removes the '*' in beginning & end

'Hello Everyone*********All the Best'

In [44]:
mystr2.lstrip('*') # removes the '*' in beginning

'Hello Everyone*********All the Best*******'

In [45]:
mystr2.rstrip('*') # removes the '*' in end

'*******Hello Everyone*********All the Best'

In [47]:
mystr2="    Hello   Everyone  "
mystr2

'    Hello   Everyone  '

In [48]:
mystr2.lower() # return whole string in lower case

'    hello   everyone  '

In [50]:
mystr2.upper() # return whole string in upper case

'    HELLO   EVERYONE  '

In [51]:
mystr2.replace("He","Ho") # replace substring "He" with "Ho"

'    Hollo   Everyone  '

In [52]:
mystr2.replace(" ","") # remove all whitespaces

'HelloEveryone'

In [53]:
mystr5 = "one two Three one two two three"

In [58]:
mystr5.count("one") #count number of times substring "one" occured in mystr5

2

In [59]:
mystr5.count("two") #count number of times substring "two" occured in mystr5

3

In [60]:
mystr5.startswith("one") #returns boolean value True if it starts with "one"

True

In [61]:
mystr5.endswith("Three") #returns boolean value False if it starts with "Three"

False

In [62]:
#combining string and numbers with format method
item1 = 40
item2 = 55
item3 = 77

res="Cost of item1, item2 and item3 are {}, {} and {}"

print(res.format(item1,item2,item3))

Cost of item1, item2 and item3 are 40, 55 and 77

In [64]:
mystr6 = '123456789'
print(mystr6.isalpha()) #returns True if all characters are ((a to z) or (A to Z))
print(mystr6.isalnum()) #returns True if all characters are ((a to z) or (A to Z) or (0 to 9))
print(mystr6.isdecimal()) #returns True of all characters are (0 to 9)
print(mystr6.isnumeric()) #returns True if alll characters are (0 to 9)

False
True
True
True

In [65]:
mystr6 = 'abcde'
print(mystr6.isalpha()) #returns True if all characters are ((a to z) or (A to Z))
print(mystr6.isalnum()) #returns True if all characters are ((a to z) or (A to Z) or (0 to 9))
print(mystr6.isdecimal()) #returns True of all characters are (0 to 9)
print(mystr6.isnumeric()) #returns True if alll characters are (0 to 9)

True
True
False
False

In [66]:
mystr6 = 'abc12309'
print(mystr6.isalpha()) #returns True if all characters are ((a to z) or (A to Z))
print(mystr6.isalnum()) #returns True if all characters are ((a to z) or (A to Z) or (0 to 9))
print(mystr6.isdecimal()) #returns True of all characters are (0 to 9)
print(mystr6.isnumeric()) #returns True if alll characters are (0 to 9)

False
True
False
False

In [68]:
mystr7 = 'ABCDEF'
print(mystr7.isupper()) #returns True if all characters are (A to Z)
print(mystr7.islower()) #returns True if all characters are (a to z)

True
False

In [69]:
mystr8 = 'abcdef'
print(mystr8.isupper()) #returns True if all characters are (A to Z)
print(mystr8.islower()) #returns True if all characters are (a to z)

False
True

In [70]:
#using escape character
mystr = "My favourite TV series is "Game of Thrones""

SyntaxError: invalid syntax (<ipython-input-70-ef9afeb177ce>, line 2)

In [73]:
mystr = "My favourite TV series is \"Game of Thrones\""
print(mystr)

My favourite TV series is "Game of Thrones"